/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.trigger-nav-ov {
	top:70px;
	.ic {
		& > span {
			@include border-radius(5px);
			height:10px;
			margin-bottom:10px;
			width:60px;
		}
	}
	&.active {
		.ic {
			height:56px;
			& > span {
				&.bar-3 {
					@include transform(rotate(-90deg) translateX(33px));
				}
			}
		}
	}
}
.nav-ov nav > ul > li > a {
    font-size:40px;
}

body.home {
	#logo, #main > section.hide-sitename h2 {
		font-size:80px;
		line-height:80px;
		padding-top:52px;
		.sub {
			font-size:20px;
			line-height:20px;
			letter-spacing:10px;
		}
	}
	#main {
		& > section {
			min-height:940px;
			font-size:19px;
			h2 {
				font-size:48px;
				background-size:auto !important;
				padding-bottom:40px;
				margin-bottom:28px;
			}
			h3 {
				font-size:24px;
			}
			.price, .info {
				font-size:19px;
			}
			.info {
				margin-left:50px;
				li {
					margin-bottom:20px;
				}
			}
			&.studio {
				.bg-shell {
					background-position:50% 65%;
				}
				.section-content {
					right:16%;
				}
			}
			&.location {
				.section-content {
					left:7%;
				}
			}
			&.rentals {
				.bg-shell {
					background-size:contain;
				}
				.subsection {
					&.phaseone {
						height:55%;
						background-position:28% 100%;
						background-size:27%;
						.sub-content {
							top:71%;
							right:20%;
						}
					}
					&.canon {
						height:45%;
						background-size:35%;
						background-position:70% 50%;
						.sub-content {
							left:28%;
						}
					}
				}
				h3 {
					font-size:40px;
					.price {
						font-size:24px;
					}
				}
			}
			&.contact {
				.section-content {
					padding-top:225px;
				}
				.contact-items {
					font-size:30px;
					& > li {
						& > * {
							padding-left:120px;
							display:block;
							background-size:auto !important;
						}
					}
				}
			}
		}
	}
}