/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.trigger-nav-ov {
	left:120px;
}
.nav-ov nav > ul > li > a {
    font-size:48px;
}

body.home {
	#logo, #main > section.hide-sitename h2 {
		font-size:80px;
		line-height:80px;
		padding-top:52px;
		.sub {
			font-size:20px;
			line-height:20px;
			letter-spacing:10px;
		}
	}
	#main {
		& > section {
			&.rentals {
				.subsection {
					&.phaseone {
						.sub-content {
							right:20%;
						}
					}
					&.canon {
					}
				}
				h3 {
					font-size:48px;
					.price {
						font-size:24px;
					}
				}
			}
			&.clients {
				.gallery {
					width:auto;
					& > figure {
						width:auto;
					}
				}
				.section-content {
					padding-top:90px;
				}
			}
		}
	}
}